doctype html
html
  head
    title Hell From Pug
    link(rel='stylesheet' href='/lib/tether/dist/css/tether.min.css')
    link(rel='stylesheet' href='/lib/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet' href='/lib/css/main.css')
  body
    div.container
      block content
    script(src='/lib/jquery/dist/jquery.min.js')
    script(src='/lib/tether/dist/js/tether.min.js')
    script(src='/lib/bootstrap/dist/js/bootstrap.min.js')
