nav.navbar.navbar-dark.bg-inverse
  a.navbar-brand(href='#') Navbar
  ul.nav.navbar-nav
    li.nav-item.active
      a.nav-link(href='#')
        | Home
        span.sr-only (current)
    li.nav-item
      a.nav-link(href='#') Link
    li.nav-item
      a.nav-link(href='#') Link
    li.nav-item.dropdown
      a#supportedContentDropdown.nav-link.dropdown-toggle(href='http://example.com', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Dropdown
      .dropdown-menu(aria-labelledby='supportedContentDropdown')
        a.dropdown-item(href='#') Action
        a.dropdown-item(href='#') Another action
        a.dropdown-item(href='#') Something else here
  form.form-inline.float-xs-right
    input.form-control(type='text', placeholder='Search')
    button.btn.btn-outline-success(type='submit') Search
